## Series的基本知识以及基本用法

`pd.Series(data=None,index=None,dtype=None,name=None,copy=False,fastpath=False)`

In [1]:
import pandas as pd
S1 = pd.Series(['a', 'b', 'c', 'd'])
S2 = pd.Series([1,2,3,4],index = ['a','b','c','d'])
S3 = pd.Series({'a':1, 'b':2, 'c':3, 'd':4})
S4 = pd.Series({'a':1, 'b':2, 'c':3}, index=['b','c','a'])
S5 = pd.Series(('a', 'b', 'c', 'd'))

In [4]:
S4

b    2
c    3
a    1
dtype: int64

In [5]:
print(S1.index)
print(S4.values)

RangeIndex(start=0, stop=4, step=1)
[2 3 1]

In [21]:
dict1 = {'a':[1,2], 'b':[3,4], 'c':[3,4], 'd':4}
S6 = pd.Series(dict1)
print(dict1)

{'a': [1, 2], 'b': [3, 4], 'c': [3, 4], 'd': 4}

一维数组，只有简单的值，但可以用index定义它每一个值的索引值  
直接在`pd.Series(data)`里面传入data的值，就可以生成一个一维数组

传入的值不止限制于列表list，还可以传入元组tuple，还可以传入字典dict  
**因为集合set是unorder的，所以不能把它传给Series**  
传入字典dict给Series时，字典的键`key`做为索引，字典的值`value`做为值，还可以通过字典的键`key`指定索引顺序

可以用`index`属性查询Series的索引  
也可以用`values`属性查询Series的值

## DataFrame的基本知识以及基本用法

`pd.DataFrame(data=None,index=None,columns=None,dtype=None,copy=False)`

In [32]:
df1 = pd.DataFrame([['a','A'],['b','B'],['c','C'],['d','D']],columns=['小写','大写'],index=['一','二','三','四'])
df1

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

直接传入一组值时，相对比Series，多了一个`columns`属性  
可传入列表`list`,`dict`,`tuple`  
可以指定索引`index`,还可以指定行`columns`

In [34]:
data = {'小写':['a','b','c','d'],'大写':['A','B','C','D']}
df2 = pd.DataFrame(data,index=['一','二','三','四'])
df2

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

当传入的数据是字典`dict`的类型时，键值`key`做为columns，还可以另外指定索引`index`，跟Series一样的使用方式

DataFrame跟Series一样，可以使用`index`属性   
不一样的区别的地方是DataFrame多了Series一个`columns`属性

In [38]:
print(df2.columns)
print(df2.index)

Index(['小写', '大写'], dtype='object')
Index(['一', '二', '三', '四'], dtype='object')

## DataFrame对于散列值的应用

假定给定一张表格，从这个表格取出想要的值，然后定义一个dict数据结构，再转换为一个DataFrame类型的表格  
从一个表不同位置取出需要的数据，重新定义一个数据格式，不断汇总，迭代

In [33]:
import pandas as pd

df = pd.read_excel('./datapool/期末考试安排（商学院）.xlsx',sheet_name = 2, header = None)

dict1 = {}
dict1['课程'] = df.iloc[2,1]
dict1['考试时间'] = df.iloc[2,0]
dict1['班级'] = df.iloc[2,2]
dict1['考试教室'] = df.iloc[2,4]

dict2 = {}
dict2['课程'] = df.iloc[9,1]
dict2['考试时间'] = df.iloc[9,0]
dict2['班级'] = df.iloc[9,2]
dict2['考试教室'] = df.iloc[9,4]

lst = []
lst.append(dict1)
lst.append(dict2)

df1 = pd.DataFrame(lst)

df1

       课程                      考试时间        班级   考试教室
0   财务管理学  17周周一（6月21日）上午9:00-11:00     19财管1  4-311
1  F5业绩管理  17周周五（6月25日）上午9:00-11:00  19财管ACCA  4-211