## 数值操作

### 数值替换
* 利用replace(A,B)方法，将A替换成B  
`df.loc[:,0].replace(np.NaN, '5月10日晚上7:30-9:30',inplace=True)`   
* 多对一替换  
`df.['学生姓名'].replace(['王南强','黄佩诗','黄轩娣'],'neoqiang')`
* 多对多替换
`df.replace({'18酒店':'18酒店管理','18物流':'18物流管理','18工商':'18工商管理'})`

In [22]:
import pandas as pd
import numpy as np

df = pd.read_excel('./datapool/期末考试安排（商学院）.xlsx',header=None)

df.replace({'18酒店':'18酒店管理','18物流':'18物流管理','18工商':'18工商管理'},inplace=True)
#df
df.loc[:,0].replace(np.NaN, '5月10日晚上7:30-9:30',inplace=True)
#df
df.loc[:,3].replace([34,26,35],99,inplace=True)
df

                             0      1       2    3      4     5
0  商学院2020-2021-2学期期末考试安排表(提前）    NaN     NaN  NaN    NaN   NaN
1                         考试时间     课程      班级   人数   考试试室  监考员1
2             5月10日晚上7:30-9:30  宏观经济学  18酒店管理   99  4-301   王亚新
3             5月10日晚上7:30-9:30    NaN  18物流管理   99    NaN   NaN
4             5月10日晚上7:30-9:30    NaN  18工商管理   99  4-302    黄飞

### 全表中缺失值替换
这个时候replace()方法就相当于fillna()方法  
`df.replace(np.NaN,0)` == `df.fillna()`  
> df.fillna()方法可以指定一列的缺失值，用字典dict指定，也可以指定一值替换所有缺失值，

In [23]:
df1 = df.replace(np.NaN,0)
df1 = df.fillna({'学生姓名':0}) #学生列全部空值替换为0
df1 = df.fillna(0) #全部空值替换为0
df1

                             0      1       2   3      4     5
0  商学院2020-2021-2学期期末考试安排表(提前）      0       0   0      0     0
1                         考试时间     课程      班级  人数   考试试室  监考员1
2             5月10日晚上7:30-9:30  宏观经济学  18酒店管理  99  4-301   王亚新
3             5月10日晚上7:30-9:30      0  18物流管理  99      0     0
4             5月10日晚上7:30-9:30      0  18工商管理  99  4-302    黄飞

### 数值排序
数值排序是按具体数值的大小进行排序，有升序和降序，升序就是数值由小到大排列，降序是数值由大到小排列   
```python
df.sort_values(by=['coll'],ascending=False,na_position='last')
```  
* 上面代码表示df表按照coll列进行排序，ascending=False表示按照coll列进行降序排序  
   ascending参数默认值为True,表示升序排列  
*  na_pasition对缺失值进行设置，默认参数值为'last',可以不写，表示将缺失值显示在最后  
   设置na_position参数为'first',将缺失值显示在最前面   
   
```python
df.sort_values(by=['coll1','coll2'],ascending=[True,False],na_position='last')
```  
*  同样使用sort_values可以进行多列排序，只需要在sort_values后的by以列表的形式指明要排序的多列列名及每列的排序方式即可。

In [24]:
import pandas as pd

df2 = pd.read_excel(r'./datapool/岭南师范学院第二针.xls')
df2.sort_values(by = ['出生日期']).head()

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
153,154,湛江市,赤坎区,湛江中心人民医院岭师流动点,葛在波,男,1973-12-27,岭南师范学院,教育工作者,2021-04-01,北京科兴中维,NaN,NaN
91,92,湛江市,赤坎区,湛江中心人民医院岭师流动点,朱习文,男,1977-04-15,岭南师范学院,教育工作者,2021-04-01,北京科兴中维,NaN,NaN
139,140,湛江市,赤坎区,湛江中心人民医院岭师流动点,钟东亮,男,1994-08-25,岭南师范学院,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
102,103,湛江市,赤坎区,湛江中心人民医院岭师流动点,梁雪娟,女,1995-10-28,湛江师范学校,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
20,21,湛江市,赤坎区,湛江中心人民医院岭师流动点,邓笑笑,女,1996-09-27,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN

### 数值排名

`rank(ascending=True,method='average')`  
1. average:当排名有重复值时，返回重复值的平均排名  
2. first:按值在所有的待排列数据中出现的先后顺序排名，**重复值第一次出现的为一，重复值第二次出现的为二**  
3. min:返回重复值的最佳排名  
4. max:与min相反，取重复值对应的最大排名

In [7]:
import pandas as pd

df3 = pd.read_excel("./datapool/search-grade.xlsx")

df3['总成绩排名'] = df3['笔试成绩总分'].rank(method='min')
df3.head(2)

,序号,姓名,学号,所属学校,院系,专业,班级,笔试准考证号,笔试科目名称,是否缺考,...,违纪类型,是否听力障碍,是否有成绩单号,成绩单号,笔试成绩总分,听力分数,阅读分数,综合分数,作文分数,总成绩排名
0,1,李鸿禧,201810100023,华南理工大学广州学院,珠宝学院,宝石及材料工艺学,2018宝石及材料工艺学2班,445090203103014,（1）英语四级笔试,否,...,--,否,有,2.031445e+14,423,135,146,0,142,2610.0
1,2,刘逸轩,201710132023,华南理工大学广州学院,电气工程学院,新能源科学与工程,2017新能源科学与工程2班,445090203112304,（1）英语四级笔试,否,...,--,否,有,2.031445e+14,297,87,100,0,110,278.0

### 数值删除之删除列
Python用到`drop`方法，drop方法后面的括号中指明要删除的列名或者列的位置，即第几列  
* 在drop方法后的括号中直接传入**待删除列的列名**，需要加一个参数axis，并让其参数值等于1，表示删除列  
* 还可以直接传入待**删除列的位置**，但也需要用axis参数  
* 也可以将**列名以列表的形式**传给columns参数，这个时候就不需要axis参数了
```python
df3.drop(['第二剂时间','第二剂厂家'],axis=1)
df3.drop(df1.columns[[11,12]],axis=1)
df3.drop(columns = ['第二剂时间','第二剂厂家'])
```
> 这里需要注意，`df1.columns[[11,12]]`返回`Index(['第二剂时间', '第二剂厂家'], dtype='object')`

In [27]:
import pandas as pd

df3 = pd.read_excel('./datapool/岭南师范学院第二针.xls')
df3.drop(['第二剂时间','第二剂厂家'],axis = 1).head()

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家
0,1,湛江市,赤坎区,湛江中心人民医院岭师流动点,李吉那,女,1997-05-03,岭南师范学院,高等教育院校学生,2021-03-29,北京生物
1,2,湛江市,赤坎区,湛江中心人民医院岭师流动点,曹熹,女,2001-06-07,岭南师范学院,高等教育院校学生,2021-03-29,北京生物
2,3,湛江市,赤坎区,湛江中心人民医院岭师流动点,苏国昊,男,1998-03-13,岭南师范学院,高等教育院校学生,2021-03-29,北京生物
3,4,湛江市,赤坎区,湛江中心人民医院岭师流动点,柯宝怡,女,2001-08-09,岭南师范学院,高等教育院校学生,2021-03-29,北京生物
4,5,湛江市,赤坎区,湛江中心人民医院岭师流动点,陈心妍,女,2002-05-28,岭南师范学院,高等教育院校学生,2021-03-29,北京生物

In [18]:
df3.drop(df1.columns[[11,12]],axis=1).head()

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家
0,1,湛江市,赤坎区,湛江中心人民医院岭师流动点,李吉那,女,1997-05-03,岭南师范学院,高等教育院校学生,2021-03-29,北京生物
1,2,湛江市,赤坎区,湛江中心人民医院岭师流动点,曹熹,女,2001-06-07,岭南师范学院,高等教育院校学生,2021-03-29,北京生物
2,3,湛江市,赤坎区,湛江中心人民医院岭师流动点,苏国昊,男,1998-03-13,岭南师范学院,高等教育院校学生,2021-03-29,北京生物
3,4,湛江市,赤坎区,湛江中心人民医院岭师流动点,柯宝怡,女,2001-08-09,岭南师范学院,高等教育院校学生,2021-03-29,北京生物
4,5,湛江市,赤坎区,湛江中心人民医院岭师流动点,陈心妍,女,2002-05-28,岭南师范学院,高等教育院校学生,2021-03-29,北京生物

In [20]:
df3.drop(columns=['第二剂时间','第二剂厂家']).head()

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家
0,1,湛江市,赤坎区,湛江中心人民医院岭师流动点,李吉那,女,1997-05-03,岭南师范学院,高等教育院校学生,2021-03-29,北京生物
1,2,湛江市,赤坎区,湛江中心人民医院岭师流动点,曹熹,女,2001-06-07,岭南师范学院,高等教育院校学生,2021-03-29,北京生物
2,3,湛江市,赤坎区,湛江中心人民医院岭师流动点,苏国昊,男,1998-03-13,岭南师范学院,高等教育院校学生,2021-03-29,北京生物
3,4,湛江市,赤坎区,湛江中心人民医院岭师流动点,柯宝怡,女,2001-08-09,岭南师范学院,高等教育院校学生,2021-03-29,北京生物
4,5,湛江市,赤坎区,湛江中心人民医院岭师流动点,陈心妍,女,2002-05-28,岭南师范学院,高等教育院校学生,2021-03-29,北京生物

In [21]:
print(df3.columns)
print(df3.index)

Index(['序号', '地市', '县区', '接种单位', '姓名', '性别', '出生日期', '工作单位', '人群分类', '第一剂时间',
       '第一剂厂家', '第二剂时间', '第二剂厂家'],
      dtype='object')
RangeIndex(start=0, stop=261, step=1)

### 数值删除之删除行
Python中删除某些行用到的方法依然是drop(),与删除列类似的是，**删除行也要指明行相关的信息**  
* 在drop方法后的括号中直接**传入待删除行的行名**，并让axis参数值等于0，表示删除行  
* 除了传入行索引名称，还可以在drop方法后的括号中直接传入**待删除行的行号**，也需要用axis参数并让其参数值等于0  
* 可以将带**删除的行名传给index参数**，这个时候就不需要axis参数了  
```python
df3.drop([0,1,2],axis=0)
df3.drop(df.index[[0,1,2,3]],axis=0) 
df3.drop(index=[0])
```

In [35]:
import pandas as pd

df3 = pd.read_excel('./datapool/岭南师范学院第二针.xls')
df3.drop(df.index[[0,1,2,3,4]])

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
5,6,湛江市,赤坎区,湛江中心人民医院岭师流动点,高沛斯,女,2001-10-19,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
6,7,湛江市,赤坎区,湛江中心人民医院岭师流动点,潘军行,男,2002-03-01,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
7,8,湛江市,赤坎区,湛江中心人民医院岭师流动点,张家源,男,1999-12-31,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
8,9,湛江市,赤坎区,湛江中心人民医院岭师流动点,苏雪莹,女,2002-01-29,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
9,10,湛江市,赤坎区,湛江中心人民医院岭师流动点,马振乐,男,1998-03-10,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,257,湛江市,赤坎区,湛江中心人民医院岭师流动点,巫观萍,女,2001-05-20,岭南师范学院,高等教育院校学生,2021-04-02,北京科兴中维,NaN,NaN
257,258,湛江市,赤坎区,湛江中心人民医院岭师流动点,潘昌龙,男,2000-10-06,岭南师范学院,高等教育院校学生,2021-04-02,北京科兴中维,NaN,NaN
258,259,湛江市,赤坎区,湛江中心人民医院岭师流动点,赖家南,男,2000-03-13,岭南师范学院,高等教育院校学生,2021-04-02,北京科兴中维,NaN,NaN
259,260,湛江市,赤坎区,湛江中心人民医院岭师流动点,方逸夫,男,2002-08-29,岭南师范学院,高等教育院校学生,2021-04-02,北京科兴中维,NaN,NaN
260,261,湛江市,赤坎区,湛江中心人民医院岭师流动点,蔡思琦,女,2001-11-18,岭南师范学院,高等教育院校学生,2021-04-02,北京科兴中维,NaN,NaN

### 删除特定行
**在Python中删除特定行使用的方法有些特殊，我们不直接删除满足条件的值，  
而是把不满足条件的值筛选出来做为新的数据源，这样就把要删除的行过滤掉了**  
也就是利用布尔条件进行取反

In [36]:
df4 = df3[df3['出生日期'] <= '1997-12-31']
df4

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
0,1,湛江市,赤坎区,湛江中心人民医院岭师流动点,李吉那,女,1997-05-03,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
20,21,湛江市,赤坎区,湛江中心人民医院岭师流动点,邓笑笑,女,1996-09-27,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
40,41,湛江市,赤坎区,湛江中心人民医院岭师流动点,张晶晶,女,1997-12-02,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
52,53,湛江市,赤坎区,湛江中心人民医院岭师流动点,朱韦羽,男,1997-07-14,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
54,55,湛江市,赤坎区,湛江中心人民医院岭师流动点,朱毅宏,男,1997-09-11,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
64,65,湛江市,赤坎区,湛江中心人民医院岭师流动点,赵劲贤,男,1997-11-24,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
71,72,湛江市,赤坎区,湛江中心人民医院岭师流动点,陈大轩,男,1997-04-11,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
91,92,湛江市,赤坎区,湛江中心人民医院岭师流动点,朱习文,男,1977-04-15,岭南师范学院,教育工作者,2021-04-01,北京科兴中维,NaN,NaN
102,103,湛江市,赤坎区,湛江中心人民医院岭师流动点,梁雪娟,女,1995-10-28,湛江师范学校,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
104,105,湛江市,赤坎区,湛江中心人民医院岭师流动点,莫志心,男,1996-12-12,岭南师范学院,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
127,128,湛江市,赤坎区,湛江中心人民医院岭师流动点,覃晓婷,女,1997-08-19,岭南师范学院,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
129,130,湛江市,赤坎区,湛江中心人民医院岭师流动点,唐晓丽,女,1997-02-22,岭南师范学院,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
137,138,湛江市,赤坎区,湛江中心人民医院岭师流动点,陈思妍,女,1997-07-23,岭南师范学院,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
139,140,湛江市,赤坎区,湛江中心人民医院岭师流动点,钟东亮,男,1994-08-25,岭南师范学院,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
140,141,湛江市,赤坎区,湛江中心人民医院岭师流动点,杨燕萍,女,1997-07-05,岭南师范学院,其他人员,2021-04-01,北京科兴中维,NaN,NaN
148,149,湛江市,赤坎区,湛江中心人民医院岭师流动点,刘圳鹏,男,1997-12-05,NaN,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
153,154,湛江市,赤坎区,湛江中心人民医院岭师流动点,葛在波,男,1973-12-27,岭南师范学院,教育工作者,2021-04-01,北京科兴中维,NaN,NaN
194,195,湛江市,赤坎区,湛江中心人民医院岭师流动点,夏啟豪,男,1997-12-28,岭南师范学院,高等教育院校学生,2021-04-02,北京科兴中维,NaN,NaN
195,196,湛江市,赤坎区,湛江中心人民医院岭师流动点,吴盛秋,男,1997-10-19,岭南师范学院,高等教育院校学生,2021-04-02,北京科兴中维,NaN,NaN
220,221,湛江市,赤坎区,湛江中心人民医院岭师流动点,韦一杰,男,1997-04-26,岭南师范学院,高等教育院校学生,2021-04-02,北京科兴中维,NaN,NaN
228,229,湛江市,赤坎区,湛江中心人民医院岭师流动点,黄幸莲,女,1997-05-21,岭南师范学院,高等教育院校学生,2021-04-02,北京科兴中维,NaN,NaN

### 数值计数

* 在Python中，要对某些值的出现次数进行计数，用到的方法是`value_counts()`   
* 还可以看一下不同值出现的占比，需要给`value_counts()`传入参数`normalize=True`  
* 还可以通过设置sort参数可以实现排列顺序，如`sort=False`

In [37]:
df3['第一剂时间'].value_counts()

2021-04-02    107
2021-03-29     85
2021-04-01     69
Name: 第一剂时间, dtype: int64

In [38]:
df3['第一剂时间'].value_counts(normalize=True)

2021-04-02    0.409962
2021-03-29    0.325670
2021-04-01    0.264368
Name: 第一剂时间, dtype: float64

In [39]:
df3['第一剂时间'].value_counts(normalize=True,sort=False)

2021-04-01    0.264368
2021-03-29    0.325670
2021-04-02    0.409962
Name: 第一剂时间, dtype: float64

### 唯一值获取

获取某一列的唯一值

In [40]:
df3['第一剂时间'].unique()

array(['2021-03-29', '2021-04-01', '2021-04-02'], dtype=object)

### 数值查找

数值查找就是查看数据表中的数据是否包含某个值或者某些值  
在Python中查看数据表中是否包含某个值用到的是isin()方法，而且可以同时查找多个值  
只需要在isin方法后的括号指明即可  
可以将某列数据取出来，然后在这一列上调用isin()方法，看这一列是否包含某个/些值，如果包含则返回True，否则返回False

```python
df3['第一剂时间'].isin(['2021-03-29'])
df3['第一剂时间'].isin(['2021-03-29','2021-04-01'])
df3['第一剂时间'] == '2021-03-29'
df3['第一剂时间'] == ('2021-03-29' or '2021-04-01')
```

In [41]:
df3['第一剂时间'].isin(['2021-03-29','2021-04-01'])

0       True
1       True
2       True
3       True
4       True
       ...
256    False
257    False
258    False
259    False
260    False
Name: 第一剂时间, Length: 261, dtype: bool

In [42]:
df3['第一剂时间'] == ('2021-03-29' or '2021-04-01')

0       True
1       True
2       True
3       True
4       True
       ...
256    False
257    False
258    False
259    False
260    False
Name: 第一剂时间, Length: 261, dtype: bool

### 区间切分

区间切分就是将一系列值分成若干份  
Python中对区间切分利用的是cut()方法，cut方法有一个参数bin用来指名切分区间  
类似的还有qcut()方法，不需要事先指定切分区间，只需要指名切分个数

In [46]:
import pandas as pd

df3 = pd.read_excel('./datapool/岭南师范学院第二针.xls')
pd.qcut(df3['序号'], 10)

0       (0.999, 27.0]
1       (0.999, 27.0]
2       (0.999, 27.0]
3       (0.999, 27.0]
4       (0.999, 27.0]
            ...
256    (235.0, 261.0]
257    (235.0, 261.0]
258    (235.0, 261.0]
259    (235.0, 261.0]
260    (235.0, 261.0]
Name: 序号, Length: 261, dtype: category
Categories (10, interval[float64]): [(0.999, 27.0] < (27.0, 53.0] < (53.0, 79.0] < (79.0, 105.0] ... (157.0, 183.0] < (183.0, 209.0] < (209.0, 235.0] < (235.0, 261.0]]

### 插入新的行或列

 在python中插入一个新的列用到的方法是insert(),在insert方法后的括号中指明要插入的位置、插入后新列的列名，以及要插入的数据  
```python
df2 = pd.read_excel(r'./datapool/search-grade.xlsx')
df5 = df2['笔试成绩总分'].rank(method='min')
df2.insert(2,'笔试总成绩排名2',df5.astype('int'))
df2['笔试成绩排名'] = df2['笔试成绩总分'].rank(method='min')
```
还可以直接以索引的方式进行行列的插入，直接让新的一列等于某列值即可

In [55]:
import pandas as pd

df2 = pd.read_excel(r'./datapool/search-grade.xlsx')
df2['笔试成绩排名'] = df2['笔试成绩总分'].rank(method='min')
df2.head(2)

,序号,姓名,学号,所属学校,院系,专业,班级,笔试准考证号,笔试科目名称,是否缺考,...,违纪类型,是否听力障碍,是否有成绩单号,成绩单号,笔试成绩总分,听力分数,阅读分数,综合分数,作文分数,笔试成绩排名
0,1,李鸿禧,201810100023,华南理工大学广州学院,珠宝学院,宝石及材料工艺学,2018宝石及材料工艺学2班,445090203103014,（1）英语四级笔试,否,...,--,否,有,2.031445e+14,423,135,146,0,142,2610.0
1,2,刘逸轩,201710132023,华南理工大学广州学院,电气工程学院,新能源科学与工程,2017新能源科学与工程2班,445090203112304,（1）英语四级笔试,否,...,--,否,有,2.031445e+14,297,87,100,0,110,278.0

### 行列互换  
直接在源数据表的基础上调用.T方法即可得到源数据表转置后的结果。  
对转置后的结果再次转置就会回到原来的结果

In [96]:
import pandas as pd
import numpy as np

df6 = pd.read_excel(r'./datapool/期末考试安排（商学院）.xlsx',header=1,index_col=[0,1,4])
df6.reset_index(inplace=True)

In [97]:
df6.T

                     0                 1                 2
考试时间  5月10日晚上7:30-9:30  5月10日晚上7:30-9:30  5月10日晚上7:30-9:30
课程               宏观经济学             宏观经济学             宏观经济学
考试试室             4-301             4-301             4-302
班级                18酒店              18物流              18工商
人数                  34                26                35
监考员1               王亚新               NaN                黄飞

In [98]:
df6.T.T

               考试时间     课程   考试试室    班级  人数 监考员1
0  5月10日晚上7:30-9:30  宏观经济学  4-301  18酒店  34  王亚新
1  5月10日晚上7:30-9:30  宏观经济学  4-301  18物流  26  NaN
2  5月10日晚上7:30-9:30  宏观经济学  4-302  18工商  35   黄飞

### 索引重塑
所谓索引重塑就是将原来的索引进行重新构造  
树形结构其实就是维持表格型行索引不变的前提下，把列索引也变成行索引，  
其实就是给表格型数据建立层次化索引  
数据从表格型数据转换到树形数据的过程叫重塑  
与stack()方法相对应的方法是unstack()方法，  
unstack()方法是将树形结构转为表格型数据

###  apply()与applymap()函数

函数apply()和applymap()都需要与匿名函数lambda结合使用  
apply()函数主要用于对DataFrame中某一column或row中的元素执行相同的函数操作  
applymap()函数用于对DataFrame中的每一个元素执行相同的函数操作

In [93]:
df6.reset_index(inplace=True)
df6['人数'] = df6['人数'].apply(lambda x:int(x)+100)

In [94]:
df6

               考试时间     课程   考试试室    班级   人数 监考员1
0  5月10日晚上7:30-9:30  宏观经济学  4-301  18酒店  234  王亚新
1  5月10日晚上7:30-9:30  宏观经济学  4-301  18物流  226  NaN
2  5月10日晚上7:30-9:30  宏观经济学  4-302  18工商  235   黄飞

In [95]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   考试时间    3 non-null      object
 1   课程      3 non-null      object
 2   考试试室    3 non-null      object
 3   班级      3 non-null      object
 4   人数      3 non-null      int64
 5   监考员1    2 non-null      object
dtypes: int64(1), object(5)
memory usage: 272.0+ bytes