## 时间序列

In [5]:
from datetime import datetime

t = datetime.now()
print(t, type(t))
print(t.year,t.month,t.day)

2021-07-05 12:42:50.449642 <class 'datetime.datetime'>
2021 7 5

In [6]:
import locale
from datetime import datetime

locale.setlocale(locale.LC_CTYPE, 'chinese')
t = datetime.now()
print(t.strftime('%Y年%m月%d日'))
type(t)

2021年07月05日

datetime.datetime

In [7]:
f = t.strftime('%Y年年有今日%m岁岁有今朝%d日日有佳年')
print(f)

2021年年有今日07岁岁有今朝05日日有佳年

In [8]:
t.weekday() + 1 #Python中几周从0开始数的，周日返回的是6，所以在后面加1

1

In [9]:
t.isocalendar() #返回当前所在周的周数，以及周几

(2021, 27, 1)

In [10]:
weeknum = t.isocalendar()[1]
weekday = t.isocalendar()[2]
print(weeknum,weekday)

27 1

In [11]:
print(t.date(),t.time())

2021-07-05 12:42:51.201545

借助strftime()函数可以自定义时间和日期格式，  
strftime()函数是将日期和时间的格式转化为某些自定义的格式

In [12]:
i = t.date()
ii = t.time()
print(i,ii)

2021-07-05 12:42:51.201545

In [15]:
from datetime import datetime

I = t.strftime('%Y年%m月%d日 %H时：%M分：%S秒')
print(I,type(I))

2021年07月05日 12时：42分：51秒 <class 'str'>

In [23]:
from datetime import datetime 
import locale

locale.setlocale(locale.LC_CTYPE, 'chinese')
I = i.strftime('%Y年%m月%d日 %H时:%M分:%S秒')
print(I,type(I))

2021年07月05日 00时:00分:00秒 <class 'str'>

In [24]:
h = datetime.strptime(I, '%Y年%m月%d日 %H时:%M分:%S秒')
print(h,type(h))

2021-07-05 00:00:00 <class 'datetime.datetime'>

In [42]:
from dateutil.parser import parse

str_time = '2018-10-14'
parse(str_time)
print(type(parse(str_time)))

<class 'datetime.datetime'>

### 时间索引

时间索引就是根据时间来对时间格式的字段进行数据选取的一种索引方式

In [28]:
import pandas as pd 

df1 = pd.read_excel('./datapool/岭南师范学院第二针.xls')
df1['出生日期'] = df1['出生日期'].astype('datetime64[ns]')
df1['出生日期'].dtype

dtype('<M8[ns]')

In [31]:
df2 = df1.sort_values(by='出生日期') 
df3 = df2.set_index(['出生日期'])
df3[:datetime(1997,12,30)].head()

,序号,地市,县区,接种单位,姓名,性别,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
出生日期,,,,,,,,,,,,
1973-12-27,154,湛江市,赤坎区,湛江中心人民医院岭师流动点,葛在波,男,岭南师范学院,教育工作者,2021-04-01,北京科兴中维,NaN,NaN
1977-04-15,92,湛江市,赤坎区,湛江中心人民医院岭师流动点,朱习文,男,岭南师范学院,教育工作者,2021-04-01,北京科兴中维,NaN,NaN
1994-08-25,140,湛江市,赤坎区,湛江中心人民医院岭师流动点,钟东亮,男,岭南师范学院,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
1995-10-28,103,湛江市,赤坎区,湛江中心人民医院岭师流动点,梁雪娟,女,湛江师范学校,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
1996-09-27,21,湛江市,赤坎区,湛江中心人民医院岭师流动点,邓笑笑,女,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN

In [33]:
df3[datetime(1996,1,1):datetime(1996,12,31)]

,序号,地市,县区,接种单位,姓名,性别,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
出生日期,,,,,,,,,,,,
1996-09-27,21,湛江市,赤坎区,湛江中心人民医院岭师流动点,邓笑笑,女,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
1996-12-12,105,湛江市,赤坎区,湛江中心人民医院岭师流动点,莫志心,男,岭南师范学院,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN

### 布尔索引来对非索引的时间进行选取

In [35]:
df1[df1['出生日期'] < datetime(1998,12,31)].head()

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
0,1,湛江市,赤坎区,湛江中心人民医院岭师流动点,李吉那,女,1997-05-03,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
2,3,湛江市,赤坎区,湛江中心人民医院岭师流动点,苏国昊,男,1998-03-13,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
9,10,湛江市,赤坎区,湛江中心人民医院岭师流动点,马振乐,男,1998-03-10,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
10,11,湛江市,赤坎区,湛江中心人民医院岭师流动点,李仲庭,男,1998-02-03,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
16,17,湛江市,赤坎区,湛江中心人民医院岭师流动点,宋泽贤,男,1998-08-02,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN

In [38]:
df1[(df1['出生日期'] < datetime(1998,12,31)) & (df1['出生日期']  > datetime(1998,1,1))].head()

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
2,3,湛江市,赤坎区,湛江中心人民医院岭师流动点,苏国昊,男,1998-03-13,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
9,10,湛江市,赤坎区,湛江中心人民医院岭师流动点,马振乐,男,1998-03-10,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
10,11,湛江市,赤坎区,湛江中心人民医院岭师流动点,李仲庭,男,1998-02-03,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
16,17,湛江市,赤坎区,湛江中心人民医院岭师流动点,宋泽贤,男,1998-08-02,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
22,23,湛江市,赤坎区,湛江中心人民医院岭师流动点,谢明晓,男,1998-10-26,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN

### 两个时间差

计算两个时间的差  
在Python中两个时间做差返回一个timedelta对象，该对象中包含天数、秒、微妙三个等级  
如果要获取小时、分钟，则需要进行换算

In [83]:
cha = datetime(2018,5,21,19,50) -datetime(2018,5,18,20,32)
cha

datetime.timedelta(days=2, seconds=83880)

In [84]:
cha.days

2

In [85]:
cha.seconds

83880

In [86]:
cha.seconds/3600

23.3

### 时间偏移
时间偏移是指给时间往前推或往后推一段时间，即加或减一段时间   
* 第一种是借助timedelta，但是它只能偏移天、秒、微妙单位的时间   
    > 由于timedalta只支持天、秒、微妙的时间运算，如果其他单位的时间运算，  
      则需要换算成以上三种单位中的一种方可进行偏移  
* 第二种是用Pandas中的日期偏移量（date offset）  
    > date offset可以直接实现天、小时、分钟单位的时间偏移，不需要换算，相比timedelta要方便一些

In [100]:
from datetime import datetime
from datetime import timedelta

date = datetime(2021,6,30,23,51,20)

print(date + timedelta(days=1))
print(date + timedelta(seconds=60))
print(date - timedelta(days=1))
print(date - timedelta(seconds=60))

2021-07-01 23:51:20
2021-06-30 23:52:20
2021-06-29 23:51:20
2021-06-30 23:50:20

In [103]:
from pandas.tseries.offsets import Day,Hour,Minute
date = datetime(2018,5,18,20,32)
print(date + Day(1))
print(date + Hour(1))
print(date + Minute(10))
print(date - Day(1))
print(date - Hour(1))
print(date - Minute(10))

2018-05-19 20:32:00
2018-05-18 21:32:00
2018-05-18 20:42:00
2018-05-17 20:32:00
2018-05-18 19:32:00
2018-05-18 20:22:00