### 数据分组

Python中对数据分组利用的是groupby()方法,这个有点类似sql中的groupby
```python
df.groupby('专业')
df.groupby(['专业','班级'])
```
都可以对分组后的df进行聚合运算

In [5]:
import pandas as pd

df = pd.read_excel(r'datapool/search-grade.xlsx')

In [6]:
df.groupby(['班级']).count()

,序号,姓名,学号,所属学校,院系,专业,笔试准考证号,笔试科目名称,是否缺考,是否违纪,违纪类型,是否听力障碍,是否有成绩单号,成绩单号,笔试成绩总分,听力分数,阅读分数,综合分数,作文分数
班级,,,,,,,,,,,,,,,,,,,
19级自动化1班,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2016交通工程1班,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
2016产品设计2班,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,2,2
2016产品设计3班,2,2,2,2,2,2,2,2,2,2,2,2,2,1,2,2,2,2,2
2016产品设计6班,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019金融工程2班,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
2019金融工程3班,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
2019金融工程4班,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
2019金融工程5班,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
车辆工程（工程师培育班）,9,9,9,9,9,9,9,9,9,9,9,9,9,8,9,9,9,9,9

In [7]:
df.groupby('专业')['序号'].count()

专业
交通工程                           18
产品设计                           81
人力资源管理                        143
人力资源管理学                         1
会计学                           371
会计学              （ACCA国际班）      1
会计学              （双语注会班）        2
会计学(ACCA国际班)                   19
会计学（双语注会班）                     53
会计学（双语班）                       10
信息与计算科学                        50
国际经济与贸易                       161
国际经济与贸易(国际班)                   13
国际经济与贸易学                        2
国际经济与贸易（双语班）                   25
土木工程                          116
宝石及材料工艺学                       39
工业设计                           88
工商管理                          157
市场营销                           63
建筑学                           119
投资学                            28
数据科学与大数据技术                     45
新能源科学与工程                       49
日语                             80
服装与服饰设计                        31
服装设计                            1
机器人工程                         109
机械工程                           68
机械工程(创新班)                      37
机械电子工程                         48
汽车服务工程                          2
物流工程                           25
电子信息工程                         67
电子商务                          143
电气工程及其自动化                     180
税收学                            49
经济学                           108
经济统计学                          44
网络工程                           75
自动化                            87
计算机科学与技术                      235
财务管理                          188
车辆工程                           94
车辆工程(工程师培育班)                   20
软件工程                          236
通信工程                          140
金融工程                          187
Name: 序号, dtype: int64

In [8]:
df.groupby('班级')['序号'].count()['2019金融工程5班']

14

### 分组键是Series

把DataFrame的其中一列取出来就是一个Series，比如下面的  
`df['班级']`  
分组键是列名与分组键是Series的唯一区别就是，给groupby()方法传入了什么  
其他都一样。可以按照一个或多个Series进行分组，分组以后的汇总计算也是完全一样的   
也支持对分组后的某些列进行汇总计算  
`df.groupby([df['专业'],df['班级']])`

In [32]:
df.groupby(df['班级']).count()

,序号,姓名,学号,所属学校,院系,专业,笔试准考证号,笔试科目名称,是否缺考,是否违纪,违纪类型,是否听力障碍,是否有成绩单号,成绩单号,笔试成绩总分,听力分数,阅读分数,综合分数,作文分数
班级,,,,,,,,,,,,,,,,,,,
19级自动化1班,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2016交通工程1班,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
2016产品设计2班,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,2,2
2016产品设计3班,2,2,2,2,2,2,2,2,2,2,2,2,2,1,2,2,2,2,2
2016产品设计6班,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019金融工程2班,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
2019金融工程3班,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
2019金融工程4班,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
2019金融工程5班,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
车辆工程（工程师培育班）,9,9,9,9,9,9,9,9,9,9,9,9,9,8,9,9,9,9,9

In [34]:
df.groupby([df['专业'],df['班级']]).count()

                 序号  姓名  学号  所属学校  院系  笔试准考证号  笔试科目名称  是否缺考  是否违纪  违纪类型  \
专业   班级
交通工程 2016交通工程1班   1   1   1     1   1       1       1     1     1     1
     2017交通工程1班   7   7   7     7   7       7       7     7     7     7
     2018交通工程1班  10  10  10    10  10      10      10    10    10    10
产品设计 2016产品设计2班   2   2   2     2   2       2       2     2     2     2
     2016产品设计3班   2   2   2     2   2       2       2     2     2     2
...              ..  ..  ..   ...  ..     ...     ...   ...   ...   ...
金融工程 2019金融工程1班  21  21  21    21  21      21      21    21    21    21
     2019金融工程2班  22  22  22    22  22      22      22    22    22    22
     2019金融工程3班  23  23  23    23  23      23      23    23    23    23
     2019金融工程4班  18  18  18    18  18      18      18    18    18    18
     2019金融工程5班  14  14  14    14  14      14      14    14    14    14

                 是否听力障碍  是否有成绩单号  成绩单号  笔试成绩总分  听力分数  阅读分数  综合分数  作文分数
专业   班级
交通工程 2016交通工程1班       1        1     0       1     1     1     1     1
     2017交通工程1班       7        7     7       7     7     7     7     7
     2018交通工程1班      10       10    10      10    10    10    10    10
产品设计 2016产品设计2班       2        2     0       2     2     2     2     2
     2016产品设计3班       2        2     1       2     2     2     2     2
...                 ...      ...   ...     ...   ...   ...   ...   ...
金融工程 2019金融工程1班      21       21    21      21    21    21    21    21
     2019金融工程2班      22       22    22      22    22    22    22    22
     2019金融工程3班      23       23    23      23    23    23    23    23
     2019金融工程4班      18       18    18      18    18    18    18    18
     2019金融工程5班      14       14    14      14    14    14    14    14

[400 rows x 18 columns]

### 神奇的aggregate方法
前面用到的聚合函数都是直接在DadaFrameGroupBy上调用，这样分组以后所有列做的都是同一种运算，  
且一次只能使用一种汇总方式   
aggregate的第一个神奇之处在于，一次可以使用多种汇总方式，  
aggregate第二个神奇之处在于，可以针对不同的列做不同的汇总运算

In [37]:
df.groupby('专业')['笔试成绩总分'].aggregate(['count','sum'])

                            count     sum
专业
交通工程                           18    6426
产品设计                           81   27091
人力资源管理                        143   60924
人力资源管理学                         1     468
会计学                           371  148316
会计学              （ACCA国际班）      1     437
会计学              （双语注会班）        2     809
会计学(ACCA国际班)                   19    8519
会计学（双语注会班）                     53   22275
会计学（双语班）                       10    2993
信息与计算科学                        50   17199
国际经济与贸易                       161   69468
国际经济与贸易(国际班)                   13    5879
国际经济与贸易学                        2     984
国际经济与贸易（双语班）                   25   10674
土木工程                          116   40822
宝石及材料工艺学                       39   14727
工业设计                           88   33887
工商管理                          157   60549
市场营销                           63   23653
建筑学                           119   43186
投资学                            28   12043
数据科学与大数据技术                     45   18355
新能源科学与工程                       49   17801
日语                             80   33228
服装与服饰设计                        31    9613
服装设计                            1     306
机器人工程                         109   41640
机械工程                           68   23694
机械工程(创新班)                      37   13054
机械电子工程                         48   16178
汽车服务工程                          2     699
物流工程                           25    9577
电子信息工程                         67   23338
电子商务                          143   57812
电气工程及其自动化                     180   67937
税收学                            49   21440
经济学                           108   46849
经济统计学                          44   18397
网络工程                           75   27758
自动化                            87   29614
计算机科学与技术                      235   85117
财务管理                          188   76818
车辆工程                           94   31789
车辆工程(工程师培育班)                   20    7147
软件工程                          236   82293
通信工程                          140   51539
金融工程                          187   76564

In [18]:
df1 = df.groupby(['专业','班级']).aggregate({'序号':'count','听力分数':'mean','阅读分数':'mean','作文分数':'mean'})
df1.reset_index(inplace=True)
df1

       专业          班级  序号        听力分数        阅读分数        作文分数
0    交通工程  2016交通工程1班   1    0.000000    0.000000    0.000000
1    交通工程  2017交通工程1班   7  130.571429  118.285714  113.714286
2    交通工程  2018交通工程1班  10  134.300000  137.400000  117.100000
3    产品设计  2016产品设计2班   2    0.000000    0.000000    0.000000
4    产品设计  2016产品设计3班   2   45.500000   62.500000   64.000000
..    ...         ...  ..         ...         ...         ...
395  金融工程  2019金融工程1班  21  143.190476  150.619048  142.476190
396  金融工程  2019金融工程2班  22  143.181818  154.909091  137.545455
397  金融工程  2019金融工程3班  23  148.565217  148.391304  145.826087
398  金融工程  2019金融工程4班  18  143.388889  155.333333  140.666667
399  金融工程  2019金融工程5班  14  136.785714  141.500000  138.642857

[400 rows x 6 columns]